<?xml version='1.0' encoding='UTF-8'?>
<hudson>
  <disabledAdministrativeMonitors/>
  <version>1.0</version>
  <numExecutors>2</numExecutors>
  <mode>NORMAL</mode>
  <useSecurity>true</useSecurity>
  <authorizationStrategy class="hudson.security.AuthorizationStrategy$Unsecured"/>
  <securityRealm class="hudson.security.HudsonPrivateSecurityRealm">
    <disableSignup>true</disableSignup>
    <enableCaptcha>false</enableCaptcha>
  </securityRealm>
  <disableRememberMe>false</disableRememberMe>
  <projectNamingStrategy class="jenkins.model.ProjectNamingStrategy$DefaultProjectNamingStrategy"/>
  <workspaceDir>${ITEM_ROOTDIR}/workspace</workspaceDir>
  <buildsDir>${ITEM_ROOTDIR}/builds</buildsDir>
  <jdks/>
  <viewsTabBar class="hudson.views.DefaultViewsTabBar"/>
  <myViewsTabBar class="hudson.views.DefaultMyViewsTabBar"/>
  <clouds/>
  <quietPeriod>5</quietPeriod>
  <scmCheckoutRetryCount>0</scmCheckoutRetryCount>
  <views>
    <hudson.model.AllView>
      <owner class="hudson" reference="../../.."/>
      <name>All</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
    </hudson.model.AllView>
  </views>
  <primaryView>All</primaryView>
  <slaveAgentPort>0</slaveAgentPort>
  <label></label>
  <nodeProperties/>
  <globalNodeProperties/>
<clouds>
      <org.jenkinsci.plugins.mesos.MesosCloud plugin="mesos@0.12.0">
      <name>MesosCloud</name>
      <nativeLibraryPath>/usr/lib</nativeLibraryPath>
      <master>152.66.78.99:5050</master>
      <description />
      <frameworkName>Jenkins Scheduler</frameworkName>
      <role>*</role>
      <slavesUser />
      <credentialsId />
      <checkpoint>true</checkpoint>
      <onDemandRegistration>true</onDemandRegistration>
      <jenkinsURL>http://localhost:9050/</jenkinsURL>
      <declineOfferDuration>6000</declineOfferDuration>
      <slaveInfos>
        <org.jenkinsci.plugins.mesos.MesosSlaveInfo>
          <slaveCpus>0.1</slaveCpus>
          <slaveMem>654</slaveMem>
          <executorCpus>0.2</executorCpus>
          <maxExecutors>1</maxExecutors>
          <executorMem>executorMem</executorMem>
          <remoteFSRoot>remoteFSRoot</remoteFSRoot>
          <idleTerminationMinutes>1</idleTerminationMinutes>
          <jvmArgs>blah blah</jvmArgs>
          <jnlpArgs>blah blah</jnlpArgs>
          <defaultSlave>yes</defaultSlave>
          <containerInfo>yes<type>Dockddef</type>
            <dockerImage>slave</dockerImage>
            <volumes>
              <org.jenkinsci.plugins.mesos.MesosSlaveInfo_-Volume>
                <containerPath>/user/contian</containerPath>
                <hostPath>/user/host</hostPath>
                <readOnly>falseuu</readOnly>
              </org.jenkinsci.plugins.mesos.MesosSlaveInfo_-Volume>
            </volumes>
            <networking>HOST</networking>
            <portMappings class="empty-list" />
            <useCustomDockerCommandShell>false</useCustomDockerCommandShell>
            <customDockerCommandShell />
            <dockerPrivilegedMode>true</dockerPrivilegedMode>
            <dockerForcePullImage>false</dockerForcePullImage>
          </containerInfo>
          <mode>NORMAL</mode>
          <nodeProperties />
          <labelString>mesos</labelString>
        </org.jenkinsci.plugins.mesos.MesosSlaveInfo>
      </slaveInfos>
    </org.jenkinsci.plugins.mesos.MesosCloud>
  </clouds>

</hudson>